*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	overflow: hidden;
}
.searchIcon{
	right: 40px;
	display: inline-block;
	position: relative;
}
.content{
	display: block;
	position: relative;
	//background-color: red;
	max-height: calc(100vh - 50px);
	min-height: calc(100vh - 50px);
	overflow: scroll;
}
.sideBar{
	background-color: #d9d9d9;
	height: 100%;
}
.noPadding{
	padding-left: 0px;
	padding-right: 0px;
}
.marginBottom0{
	margin-bottom: 0px;
}
pre{
	height: inherit;
}